@charset "utf-8";
/*CSS Document */
p {
color: darkgreen;
font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
font-size: 16px;
line-height: 18px;
width: 700px;
background-color: rgba(144, 238, 144, 0.9);
padding: 20px;
}
 
.paragraf_2 {color:black; background-color: rgba(255, 255, 255, 0.7)}
.novi_blok {
    background-color: rgba(0, 130, 0, 0.9);
    padding:20px;
    margin: 20px;
    width:70%;
}
h1, h2 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color:white;
}

span {color: rgb(0, 150, 255);}
.pozadina{
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
    url("Slike/pozadina.jpg");
}
.drugapozadina {
    background-color: #00674F
}
a:link {
    color: green;
    background-color: white;
    padding: 5px;
    line-height: 40px;
    border:1px solid #000000;
}
img{
    height: 200px;
}